/* reset start */
body, p, input, dl, dd, h1, h2, h3, h4, h5, h6{
    margin:0;
}
body{
    /*font-family:        "Helvetica Neue", Helvetica, STHeiTi, sans-serif;*/
    font-family:        "Marmelad", "Lucida Grande", 'Hiragino Sans GB', Georgia, sans-serif;
    -webkit-user-select:none;
}
h1, h2, h3, h4, h5, h6{
    font-size:100%;
}
ul{
    margin:    0;
    padding:   0;
    list-style:none;
}
dl, dd{
    margin:0;
}
table{
    border-collapse:collapse;
    border-spacing: 0;
}
td{
    padding:0;
}
a{
    text-decoration:none;
    color:          #000;
}
a:visited{
    color:#000
}
a, img, button, input, select{
    -webkit-tap-highlight-color:transparent;
    outline:0
}
img{
    border:        0 none;
    vertical-align:top;
}
a{
    /*-webkit-touch-callout:      none;*/
}

/* reset end */

/* common method */
.flex{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.ell{ text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

.auto{ margin-left:auto; margin-right:auto; }
/* text-align */
.tc{ text-align:center; }
.tr{ text-align:right; }
.tl{ text-align:left; }

/* float */
.l{ float:left; }
.r{ float:right; }

.f0{ font-size:0; }
.f10{ font-size:10px; }
.f12{ font-size:12px; }
.f13{ font-size:13px; }
.f14{ font-size:14px; }
.f15{ font-size:15px; }
.f16{ font-size:16px; }
.f18{ font-size:18px; }
.f20{ font-size:20px; }
.f24{ font-size:24px; }

/* background */
.bgc{ background:#ccc; }
.bgd{ background:#ddd; }
.bgf{ background:#fff; }
.bge{ background:#eee; }

/* display */
.dn{ display:none; }
.di{ display:inline; }
.db{ display:block; }
.dib{ display:inline-block; }

/* color */
.c0{ color:#000; }
.c3{ color:#333; }
.c6{ color:#666; }
.c9{ color:#999; }
.cc{ color:#ccc; }
.cd{ color:#ddd; }
.ce{ color:#eee; }
.cf{ color:#fff; }

/* common method */
button, input[type="button"], input[type="reset"], input[type="submit"]{
    -webkit-appearance:button;
    cursor:            pointer;
}

.x-btn{
    display:                inline-block;
    -webkit-box-sizing:     border-box;
    width:                  100%;
    padding:                0 4px;
    height:                 42px;
    line-height:            42px;
    text-align:             center;
    font-size:              20px;
    border-radius:          4px;
    -webkit-background-clip:padding-box;
    cursor:                 pointer;
    border:                 1px solid #2d68f0;
    color:                  #fff;
    background:             #2c66f0;
    background-image:       linear-gradient(#3d80f3, #2c66f0);
}
.x-btn:active, .x-btn.hover{
    color:       #fff;
    border-color:#2d68f0;
    background:  #184ec8;
}
button.x-btn:disabled{
    color:           #ccc;
    text-shadow:     none;
    background:      #ededed;
    background-image:linear-gradient(#f3f3f3, #ededed);
}
.x-btn-white{
    color:           #000;
    border-color:    #cbcbcb;
    background:      #f4f4f4;
    background-image:linear-gradient(#fffefe, #f4f4f4);
}

.x-item-wrap{
    position:    relative;
    margin-top:  -1px;
    padding:     15px 20px 15px 15px;
    font-size:   14px;
    border:      1px solid #d2d2d2;
    border-width:1px 0;
}
.x-item-round{
    border-width:1px;
}
.x-item-round-hd{
    border-width: 1px;
    border-radius:3px 3px 0 0;
}
.x-item-round-ft{
    border-width: 1px;
    border-radius:0 0 3px 3px;
}
.x-item-indent:before{
    content:     '';
    display:     block;
    position:    absolute;
    left:        0;
    top:         -1px;
    width:       15px;
    height:      100%;
    border:      1px solid #fff;
    border-width:1px 0;
    z-index:    2;
}
.x-item-label{
    width:70px;
}
.x-item-input{
    display:block;
    border: 0;
    font-size: 16px;
    background: transparent;
    -webkit-box-flex: 1;
}
.x-r-arrow{
    position:         absolute;
    right:            15px;
    top:              50%;
    margin-top:       -3px;
    display:          block;
    width:            6px;
    height:           6px;
    margin-left:      0;
    border:           solid 2px rgba(0, 0, 0, .2);
    border-top:       0 none;
    border-left:      0 none;
    -webkit-transform:rotate(-45deg);
}